<!DOCTYPE html>
<html class="no-js" lang="fi">
    {% load staticfiles %}
    {% load thumbnail %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="Sami Mäntysaari">
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">
    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>
    <meta name="theme-color" content="#fafafa">

   <link rel="stylesheet" href="{% static "boilerplate/css/simple-grid.css" %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this site -->
    {% block styles %}
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    {% endblock styles %}

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  </head>

  <body>
    <header>
        <nav class="navbar">
			<ul>
				{% include "_navbar.html" %}
            </ul>
        </nav>
    </header>

   {% block container %}

   <p>Hello world! This is HTML5 Boilerplate.</p>


   {% endblock %}

    <!-- Site footer -->
    {% block footer %}
        <div class="container">
            <div class="col-12 row">
              <p>&copy; Aavaserveri  {% now 'Y' %}</p>
            </div>
        </div>
    {% endblock %}

    <script src="{% static "boilerplate/js/vendor/modernizr-3.7.1.min.js" %}" cookie-consent="strictly-necessary"></script>
    <script src="{% static "boilerplate/js/vendor/jquery-3.3.1.min.js" %}" cookie-consent="strictly-necessary"></script>
    <script src="{% static "boilerplate/js/plugins.js" %}" cookie-consent="strictly-necessary"></script>
    <script src="{% static "boilerplate/js/main.js" %}"  cookie-consent="strictly-necessary"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#237afc"
                    },
                    "button": {
                        "background": "#fff"
                    }
                },
            "position": "bottom-right"
            })});
    </script>

   <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <!--<script cookie-consent="tracking">
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer cookie-consent="tracking"></script> -->
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>


