/* Main site style */

html, body {
    width: 99%;
}

body {
    text-align: center;
    background-color: white;
    color: grey;
}

body h1, h2, h3, h4 {
    color: gray;
}



/* Start Main Navigation */

nav.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav.navbar li {
    display: inline-block;
    margin-right: 1px;
}

nav.navbar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.navbar li a:hover:not(.active) {
    background-color: #ddd;
}

nav.navbar li a.active {
    color: white;
    background-color: #4CAF50;
}

/* End Main navigation */
